
.seo-serp-preview {
    border: 0;
    margin: 0;
}

.seo-serp-preview .seo-serp-inside {
    border: 1px solid #b3b3b3;
    padding: 20px;
}

.seo-serp-url {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.seo-serp-text.seo-serp-title {
    margin-bottom: 4px;
}